.profile-img {
  width: 200px;

}

.user-card {
  width: 30%;
}

.main-card {
  width: 40rem;
  float: left;
  margin-left: 40px;
  height: 400px;
}

.wrap-card {
  height:30%;
    overflow:hidden;
    width: 400px;
}

.shop-card{
  height: 100%;
}
