<div class="background-register">
  <h1 class="register-title">Register</h1>

  <div class="registerPage">
    <form ng-submit="vm.submitForm()">

      <div>
        <label for="username">Username</label>
        <input class="boxshadow" type="text" name="username" ng-model="vm.user.username">
      </div>

      <div>
        <label for="userType">Shop Owner or a Donor?</label>
        <input class="boxshadow" type="text" name="userType" ng-model="vm.user.userType">
      </div>

      <div >
        <label for="email">Email</label>
        <input class="boxshadow" type="text" name="email" ng-model="vm.user.email">
      </div>

      <div >
        <label for="image">Image</label>
        <input class="boxshadow" type="text" name="email" ng-model="vm.user.image">
      </div>

      <div >
        <label for="password">Password</label>
        <input class="boxshadow" type="text" name="password" ng-model="vm.user.password">
      </div>

      <div >
        <label for="passwordConfirmation">Password Confirmation</label>
        <input class="boxshadow" type="text" name="passwordConfirmation" ng-model="vm.user.passwordConfirmation">
      </div>

      <div>
        <button type="submit" class="addBtn boton">Register</button>
      </div>

    </form>
  </div>
</div>
