<h1>User Profile</h1>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">{{ vm.user.username }}</h4>
        <p class="card-text">{{ vm.user.email }}</p>
        <p class="card-text">{{ vm.user.userType }}</p>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-default" ui-sref="shopsIndex">View all shops</button>
<button class="btn btn-default"  ng-if="vm.user.userType === 'Shop Owner'" ui-sref="shopForm">Create a shop</button>
<button class="btn btn-default" ui-sref="userEdit({id: vm.user._id})">Edit your profile</button>
