<h1>User Profile</h1>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">{{ vm.user.username }}</h4>
        <p class="card-text">{{ vm.user.email }}</p>
        <p class="card-text">{{ vm.user.userType }}</p>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-default" ui-sref="shopsIndex">View all shops</button>

<!-- <ul>
<li ng-if="vm.user.userType === 'Shop Owner'"><a ui-sref="shopForm">Create a shop</a></li>
</ul> -->


{{ vm.user }}




<button class="btn btn-default" ui-sref="shopForm">Create a shop</button>
