<h1>{{vm.title}}</h1>

TESTING AUTOCOMPLETE DIRECTIVE:
<input type="text" ng-autocomplete ng-model="vm.autocomplete" options="{types: 'establishment'}" details="vm.details"/>

<form ng-submit="vm.getDetails()">
  <label for="name">Name:</label>
  <input type="text" ng-model="vm.details.name" name="name">

  <label for="address">Address: </label>
    <input type="text" ng-model="vm.details.formatted_address" name="formatted_address">

  <label for="email">Email: </label>
  <input type="text" ng-model="vm.details.email" name="email">

  <label for="number">Number: </label>
  <input type="text" ng-model="vm.details.international_phone_number" name="international_phone_number">

  <label for="bio">Bio: </label>
  <input type="text" ng-model="vm.details.bio" name="bio">

  <label for="image">Image: </label>
  <input type="text" ng-model="vm.details.icon" name="icon">

  <label for="wanted">Wanted: </label>
  <input type="wanted" ng-model="vm.details.clothesWanted" name="wanted">

  <label for="unwanted">Unwanted: </label>
  <input type="unwanted" ng-model="vm.details.clothesNotWanted" name="unwanted">

<input type="submit" name="submit" value="{{vm.title}}">
</form>


<button type="button" ui-sref="home">Back To Home</button>
<button type="button" ui-sref="shopsIndex">Back To Shops</button>
<!--button back to user profile?  -->
