<div class="background-register">
  <h1 class="shop-title">{{vm.title}}</h1>
  <div class="addShopPage">
    <label for="autocomplete">Enter Shop Name Below...</label>
    <br>
    <input type="text" ng-autocomplete ng-model="vm.autocomplete" options="{types: 'establishment'}" details="vm.details"/>

    <form ng-submit="vm.getDetails()">
      <div class="formName">
        <label for="name">Name</label>
        <br>
        <input type="text" ng-model="vm.details.name" name="name">
      </div>
      <div class="formAddress">
        <label for="address">Address </label>
        <br>
        <input type="text" ng-model="vm.details.formatted_address" name="formatted_address">
      </div>
      <div class="formEmail">
        <label for="email">Email </label>
        <br>
        <input type="text" ng-model="vm.details.email" name="email">
      </div>
      <div class="formNumber">
        <label for="number">Number </label>
        <br>
        <input type="text" ng-model="vm.details.international_phone_number" name="international_phone_number">
      </div>
      <div class="formBio">
        <label for="bio">Bio </label>
        <br>
        <input type="text" ng-model="vm.details.bio" name="bio">
      </div>
      <div class="formImage">
        <label for="image">Image </label>
        <br>
        <input type="text" ng-model="vm.details.icon" name="icon">
      </div>
      <div class="formWanted">
        <label for="wanted">Wanted </label>
        <br>
        <input type="wanted" ng-model="vm.details.clothesWanted" name="wanted">
      </div>
      <div class="formUnwanted">
        <label for="unwanted">Unwanted </label>
        <br>
        <input type="unwanted" ng-model="vm.details.clothesNotWanted" name="unwanted">
      </div>
      <div>
        <button type="submit" name="submit" class=" boton">{{vm.title}}</button>
      </div>
    </form>
  </div>
</div>
