<h1>{{vm.title}}</h1>

<input type="text" id="google-places" google-place/>

<form ng-submit="vm.submit()">
  <label for="address">Address: </label>
  <input type="text" name="address" ng-model="vm.shop.address">
  <label for="country">place id: </label>
  <input type="text" name="placeid" ng-model="vm.shop.">
</form>

<!-- <form ng-submit="vm.submit(vm.shop)">
  <label for="name">Name:</label>
  <input type="text" ng-model="vm.shop.name" name="name" value="{{vm.name}}">

  <label for="address">Address: </label>
    <label for="line1">Line 1: </label>
    <input type="text" ng-model="vm.shop.address.line1" name="line1" value="line2">
    <label for="line2">Line 2: </label>
    <input type="text" ng-model="vm.shop.address.line2" name="line2" value="line 2">
    <label for="city">City: </label>
    <input type="text" ng-model="vm.shop.address.city" name="city" value="city">
    <label for="postcode">Postcode: </label>
    <input type="text" ng-model="vm.shop.address.postcode"name="postcode" value="postcode">
    <label for="country">Country: </label>
    <input type="text" ng-model="vm.shop.address.country" name="country" value="country">

  <label for="email">Email: </label>
  <input type="text" ng-model="vm.shop.email" name="email" value="email">

  <label for="number">Number: </label>
  <input type="text"ng-model="vm.shop.number" name="number" value="telephone number">

  <label for="bio">Bio: </label>
  <input type="text" ng-model="vm.shop.bio" name="bio" value="bio">

  <label for="image">Image: </label>
  <input type="text" ng-model="vm.shop.image" name="image" value="image">

  <label for="wanted">Wanted: </label>
  <input type="wanted" ng-model="vm.shop.clothesWanted" name="wanted" value="wanted items">

  <label for="unwanted">Unwanted: </label>
  <input type="unwanted" ng-model="vm.shop.clothesNotWanted" name="unwanted" value="unwanted items">

<input type="submit" name="submit" value="{{vm.title}}">
</form> -->
