<div class="shopPage">

  <div class="shopLogo">
    <img class="shopLogo" src="{{vm.shop.icon}}">
  </div>

  <div class="shopInfo">
    <div class="shopDetails">
      <h3>Shop Info</h3>
      <p>Shop: {{ vm.shop.name }}</p>
      <p>About: {{vm.shop.bio}}</p>
      <p>Address: {{vm.shop.formatted_address}}</p>
      <p>Telephone Number: {{vm.shop.international_phone_number}}</p>
      <p>Email: {{ vm.shop.email }}</p>
      <li><button ng-if="vm.shop.createdBy._id === vm.currentUserId" ui-sref="shopEdit({id: vm.shop._id})"> Edit this Shop</button></li>
      <li><button ng-if="vm.shop.createdBy._id === vm.currentUserId" ng-click="vm.open()">Delete this Shop</button></li>
    </div>
  </div>

  <div class="shopWants">
    <h3>How You Can Help</h3>
    <p>We need more: {{vm.shop.clothesWanted}}</p>
    <p>We have too many: {{vm.shop.clothesNotWanted}}</p>
  </div>

  <div class="comments">
    <h3>Comments</h3>
    <ul>
      <li ng-repeat="comment in vm.shop.comments | orderBy: '-'">
        <p>{{ comment.content }}</p>
        <div >
          <p>Said {{ comment.createdBy.username }}
            <button ng-if="comment.createdBy._id === vm.currentUserId" ng-click="vm.commentDelete(comment._id)">x</button>
          </p>
        </div>
      </li>
    </ul>

    <div class="addComments">
    <form ng-submit="vm.handleNewComment()">
      <label for="comments">Add Comment:</label>
      <input type="text" ng-model="vm.comment.content">
      <input type="submit">
    </form>
    </div>
  </div>

</div>

<google-map shops="vm.shop" id="showMap"></google-map>
