<h1>One Shop</h1>

{{ vm.shop }}

Icon: <img src="{{vm.details.icon}}">

<p>Shop Name: {{ vm.shop.name }}</p>
<p>Created By: {{ vm.shop.createdBy.username }}</p>
<p>Address: {{vm.shop.formatted_address}}</p>
<p>Email: {{ vm.shop.email }}</p>
<p>Telephone Number: {{vm.shop.international_phone_number}}</p>
<p>Bio: {{vm.shop.bio}}</p>
<p>Items Needed for Sale: {{vm.shop.clothesWanted}}</p>
<p>Items not sold at this shop: {{vm.shop.clothesNotWanted}}</p>

<p>Created By Id: {{ vm.shop.createdBy }}</p>
<p>Shop Id: {{ vm.shop._id }}</p>

<button ng-if="vm.shop.createdBy._id === vm.currentUserId" ui-sref="shopEdit({id: vm.shop._id})"> Edit this Shop</button>
<button ng-if="vm.shop.createdBy._id === vm.currentUserId" ng-click="vm.delete(vm.shop)">Delete this Shop</button>
<hr>
<h3>Comments:</h3>

<ul>
  <li ng-repeat="comment in vm.shop.comments track by $index">
    <p>Content: {{ comment.content }}</p>
    <p>Created By: {{ comment.createdBy.username }}</p>
    <!-- <div ng-if="comment.createdBy._id === vm.currentUserId"> -->
      <button ng-click="vm.commentDelete(comment._id)">Delete the comment</button>
    <!-- </div> -->
  </li>
</ul>

<form ng-submit="vm.handleNewComment()">
  <label for="comments">Add a Comment:</label>
  <input type="text" ng-model="vm.comment.content">
  <input type="submit">
</form>


<!-- <p>This is comment.shop._id: {{ comment.shop._id }}</p>
<p>This is comment.shop.comment._id: {{ comment.shop.comment._id }}</p>
<p>This is vm.shop.comments._id: {{ comment._id }}</p>
<p>This is vm.shop._id: {{ vm.shop._id }}</p> -->
<!-- <p> Comment Id:  {{ comment._id }}</p> -->
