.google-map {
  height: 600px;
  width: 600px;
  display: inline-block;
  margin: 0 auto;
}

@import "components/editUserPage";
@import "components/addshop";
@import "components/register";
@import "components/login";

@import "components/navbar";
@import "components/homepage";
